.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #19041c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flech{
color: cornsilk;
float: left;
border: 1px solid white;
margin-top: 45px;
width: 10%;

}
.flech:hover {

  color: chocolate;
  background-color: honeydew;
  cursor: pointer;
  

}

.img-details{
  width: 25%;
}

.trailer{
  width:730px; 
  height: 380px;
  border-radius: 7px;
}

.movie-name{
  font-size: 50px;
  font-weight: bold;
  color: rgb(211, 184, 212);
}








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
